*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}
.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top,rgba(0,0,0,0.5)20%,rgba(0,0,0,0.5)20%);

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
}
.icon h2{
    color:skyblue;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    margin: 5px;


}
.menu{
    width:400px;
    float: left;
    height: 70px;
}
.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}
.menu ul li a{

    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;

}
.search{
    width: 330px;
    margin-left: 270px;
    float: left;

}
.srch{
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 16px;
    background: transparent;
    border: 2px solid skyblue;
    margin-top: 13px;
    color:azure;
    font-size: 16px;
    padding: 10px;
}
.srch::placeholder{
    color:skyblue;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: skyblue;
    border:none;
    margin-top: 13px;
    color: azure;
    font-size: 15px;

} 
.btn:hover{
    color:skyblue;
    background-color:azure ;
}
.content{
    width: 1200px;
    margin: auto;
    height: auto;
    color: azure;
    position: relative;
}
.content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 1.2px;

}
.content span{
    color:skyblue;
    font-size: 65px;
}
.content p{
    padding-left:20px ;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    letter-spacing: 1.2px;
}
.joinbtn{
    width:160px ;
    height: 40px;
    background-color: skyblue;
    color: azure;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    transition: 0.4s ease-in-out;

}
.joinbtn:hover{
    background-color: azure;
    color: skyblue;
}
form{
    width: 226px;
    height: 341px;
    background-color: black;
    background: linear-gradient(to top,rgba(0,0,0,0.5)20%,rgba(0,0,0,0.5)20%);
    position: absolute;
    top: -11px;
    left: 865px;
    transform: translate(0,-5%);
    border-radius: 10px;
    padding: 35px;
}    
.from h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: skyblue;
    font-size: 22px;
    background:azure;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 229px;
    height: 35px;
    background: transparent;
    border-bottom: 2px solid skyblue;
    border-top: none;
    border-left: none;
    border-right: none;
    color:azure;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
}
.from input:focus{
    outline: none;
}
::placeholder{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}
.loginbtn{
    width: 229px;
    height: 35px;
    background-color: skyblue;
    color: azure;
    border: none;
    margin-top: 35px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 15px;
}
.loginbtn:hover{
    color: skyblue;
    background-color: azure;
    cursor: pointer;
}
.link{
    font-size: 18px;
    padding-top:20px ;
    text-align: center;
    padding-left: 0px!important;
    padding-bottom:2px!important;

   
}
.signup{
    text-align: center;
    padding-top: 2px!important;
    padding-bottom:2px!important;
    padding-left: 2px!important;
}
.signup a{
    text-decoration: none;
    color: azure;
    font-size: 15px;
}
.liw{
    text-align: center;
    padding-left: 2px!important;
}

